.contactContainer
{
  background-image: url("../img/contact/contact_bg.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 53vh;
  color: white;
}

.type-wrap
{
  display: none;
}

.quoteFixed
{
  margin-top: -70px;
  position: relative;
  height: 30px;
  color: #00FFCA;
  font-weight: 500;
  font-size: 1.6em;
  margin-left:25px;
  margin-right: 25px;
  line-height: 1.4em;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
}

.contactInfoBlock
{
  position: relative;
  height: 47vh;
}

.contactInfo
{
  position: absolute;
  display: block;
  bottom: 25px;
  right: 25px;
  text-align: right;
  font-family: Lato, sans-serif;
}

.contactInfo > h2
{
  font-weight: bold;
  font-size: 1.4em;
}

.contactInfo > p
{
  font-weight: 400;
  padding-bottom: -10px;
  display: block;
  margin-bottom: -5px;
}

#blockContact
{
  height: 170px;
  top:37vh;
  width: 90%;
  left: 5%;
  max-width: 768px;
  font-family: Lato, sans-serif;
  z-index: 500;
}

#blockContact > h2
{
  padding-top: 25px;
  font-size: 1.4em;
  margin-bottom: 10px;
}

#blockContact > p
{
  border-bottom: 5px solid white;
  padding-bottom: 3px;
  font-size: 1.2em;
  opacity: 0.8;
  display: inline-block;
  color: white;
}

@media (max-height: 560px) {
  .quoteFixed
  {
    display: none;
  }

  #blockContact
  {
    top: 30vh;
  }
}

@media (min-width: 768px) {
  .containerContact
  {
    max-height: 100vh;
  }

  .contactContainer
  {
    height: 65vh;
  }

  .quoteFixed
  {
    display: none;
  }

  .type-wrap
  {
    font-family: "Lato", sans-serif;
    display: block;
    color: #fff;
    letter-spacing: 1px;
    font-size: 2.5rem;
    width: 75%;
    padding-top: 35vh;
    margin-left: 25%;
  }

  #blockContact
  {
    padding-top: 15px;
    top: 77%;
    max-width: 550px;
    left: 25%;
  }

  .contactInfoBlock
  {
    height: 35vh;
  }

  .contactInfo
  {
    right: 75px;
    bottom: 75px;
  }

  #typed
  {
    color: #00FFCA;
    font-family: Lato, sans-serif;
  }
}

.typed-cursor{color: #00FFCA}
.typed{
  font-family: Lato, sans-serif;
}
