.home
{
   background-color: black;
}

.home__video
{
   height: 100vh;
   width: 100vw;
   position: relative;
   opacity: 0;
}

.home__content
{
   text-align: center;
   width: 100%;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

.home__content__logo
{
   width: 80%;
   max-width: 550px;
}

.home__content__buttons
{
   position: relative;
   right: -150px;
}

.home__tm-logo
{
   height: 40px;
   width: auto;
   position: absolute;
   bottom: 50px;
   right: 50px;
   z-index: 999;
}


@media screen and (max-width: 768px)
{
   .home__content__buttons
   {
      position: relative;
      right: auto;
      margin-top: 30px;

      .button
      {
         width: 100%;
         margin-top: 20px;
         display: block;
      }
   }
}