.project-description {
    padding-top: 100px;
    padding-bottom: 100px
}

.project-description__title, .title {
    font-size: 1.1rem;
    font-weight: 900;
    color: #333;
    font-family: "Lato",sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

p
{
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 2.0;
    color: #333;
    font-family: "Lato",sans-serif;
}

.project-photos {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 150px
}

.project-photos__photo {
    width: 49%;
    height: 50vh;
    min-height: 500px;
    background-color: #000;
    background-size: cover;
    background-position: center;
}

.project-photos__photo:nth-child(odd) {
    margin-left: 1%
}

.project-photos__photo:nth-child(even) {
    margin-right: 1%
}

.project-photos__photo--big {
    width: 100%;
    margin-bottom: 1.5%;
    margin-left: 0!important
}

.project-photos__floating {
    width: 50%;
    position: absolute;
    top: 40%;
    right: 150px;
    padding: 100px 70px;
    background-color: #6E36D5;
    box-sizing: border-box
}

.project-photos__floating__title {
    font-family: "Lato",sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1.9px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #fff
}

.project-photos__floating__text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: .9rem;
    letter-spacing: 1.48px;
    line-height: 36px;
    width: 100%;
    color: #fff
}

.project-photos__floating__text p {
    color: #fff;
    width: 100%
}

.project-detail {
    background-color: #333;
    width: 100%;
    padding-top: 500px;
    padding-bottom: 150px;
    margin-top: -500px
}

.project-detail .title {
    color: #fff
}

.grid {
    display: -ms-flexbox;
    display: flex
}

.col {
    width: 50%
}

.project-detail__col__content {
    padding-top: 40px;
    padding-bottom: 40px
}

.project-detail__col__content p {
    width: 100%;
    margin-bottom: 15px;
    display: block
}

.project-detail__col__image {
    width: 90%;
    height: 100%;
    background-size: cover;
    background-position: center;
    	-webkit-box-shadow: 0px 0px 72px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 72px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 72px 0px rgba(0,0,0,0.5);
}

.project-detail .wrapper p {
    color: #fff
}

.project-solution {
    padding-top: 150px;
    padding-bottom: 150px
}

.project-footer {
    width: 100%;
    display: -ms-flexbox;
    display: flex
}

.project-footer__subtitle,.project-footer__title {
    color: #fff;
    letter-spacing: 1.5px;
    display: block;
    font-family: "Lato",sans-serif;
    font-weight: 500;
    width: 100%;
    z-index: 9999;
    text-transform: uppercase
}

.project-footer__overlay {
    background-color: #000;
    opacity: .7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.project-footer__subtitle {
    font-size: .9rem;
    position: relative;
    text-decoration: none
}

.project-footer__title {
    font-size: 1.6rem;
    position: relative;
    margin-top: 20px;
    text-decoration: none
}

.projects-grid__col__text,.projects-year {
    font-family: "Lato",sans-serif;
    letter-spacing: 2px
}

.project-footer__next,.project-footer__prev {
    width: 50%;
    background-image: url(../img/bg.png);
    padding: 150px 100px;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    position: relative
}

.project-footer__next {
    text-align: right;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.project-footer__prev {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.btn-case--green {
    border-color: #00FFCA;
    color: #00FFCA
}

.btn-case--green:hover {
    background-color: #00FFCA
}

.top__bg__video
{
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.project-swiper
{
    display: none;
}

@media screen and (max-width: 768px)
{
    .top__bg__video
    {
        display: none;
    }

    .grid
    {
        flex-wrap: wrap;
    }

    .col
    {
        width: 100%;
    }

    .project-detail
    {
        margin-top: 0;
        padding-top: 300px;
        padding-bottom: 100px;
    }

    .project-detail__col__image
    {
        height: 500px;
        width: 100%;
    }

    .project-detail__col__content
    {
        margin-top: 60px;
    }

    .project-solution
    {
        padding-bottom: 100px;
        padding-top: 100px;
    }

    .project-photos .project-photos__photo
    {
        display: none;
    }

    .project-swiper
    {
        display: block;
        width: 100%;
        height: 500px;
        margin-bottom: 100px;
    }

    .project-swiper .project-photos__photo
    {
        width: 100%;
        display: block;
        margin: 0 !important;
    }

    .project-photos__floating {
        width: 90%;
        top: 40%;
        right: -10%;
        padding: 70px 40px;
        z-index: 999;
    }

    .project-footer
    {
        flex-wrap: wrap;
    }

    .project-footer__title
    {
        font-size: 1.1rem;
    }

    .project-footer__next, .project-footer__prev
    {
        padding: 100px 50px;
    }

    .project-photos__floating__text p
    {
        font-size: 0.9rem;
    }

}
