*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }

.wrap-team
{
	width: 100%;
	display: block;
	margin: 0 auto;
	position: relative;
}

.content 
{
    padding: 10em 0 4em 0;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tilter 
{
    display: block;
    position: relative;
    width: 300px;
    height: 415px;
    margin: 1.5em 2.5em;
    color: #fff;
    flex: none;
    perspective: 1000px;
}

.tilter * 
{
    pointer-events: none;
}

.tilter:hover,
.tilter:focus 
{
    color: #fff;
    outline: none;
}

.tilter__figure,
.tilter__image 
{
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.tilter__figure > * 
{
    transform: translateZ(0px); /* Force correct stacking order */
}

.smooth .tilter__figure,
.smooth .tilter__deco--overlay,
.smooth .tilter__deco--lines,
.smooth .tilter__deco--shine div,
.smooth .tilter__caption 
{
    transition: transform 0.2s ease-out;
}

.tilter__figure 
{
    position: relative;
}

.tilter__figure::before 
{
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    box-shadow: 0 30px 20px rgba(35,32,39,0.5);
}

.tilter__deco 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tilter__deco--overlay 
{
    background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.4), rgba(145, 58, 252, 0.4), rgba(16, 11, 192, 0.4));
}

.tilter__deco--shine div 
{
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
}

.tilter__deco--lines 
{
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
}

.tilter__caption 
{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3em;
}

.tilter__title1 
{
    margin: 0;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.tilter__title2 
{
    margin: 0;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.tilter__description 
{
    margin: 1em 0 0 0;
    font-size: 0.7em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.2em;
    line-height: 1.4em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.social 
{
    display: flex;
    z-index: 99999999;
}

.in 
{
    width: 20px;
    height: 20px;
    background-image: url("../img/socialicons/linkedin2_white.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 15px 0 0;
    cursor: pointer;
}

.t 
{
    width: 20px;
    height: 20px;
    background-image: url("../img/socialicons/twitter_white.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 15px 0 0;
}

.f 
{
    width: 20px;
    height: 20px;
    background-image: url("../img/socialicons/facebook_white.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 0;
}

.tilter--1 .tilter__figure::before 
{
    box-shadow: 0 30px 20px rgba(0,0,0,0.5);
}

.floating-block--team
{
    width: 80%;
    position: absolute;
    bottom: -210px;
    right: 20px;
    padding: 20px 30px;
    background-color: $purple;
    -webkit-box-shadow: 0px 0px 72px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 72px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 72px 0px rgba(0,0,0,0.5);
    box-sizing: border-box;
    overflow: hidden;
    z-index: 500;
}

@media(min-width: 768px)
{
    .floating-block--team
    {
        width: 550px;
        position: absolute;
        bottom: -170px;
        right: 110px;
        padding: 70px 70px;
        background-color: $purple;
    }
}